html,body {
    height: 100%;
}

/* #feed::-webkit-scrollbar{
    display: none;
} */

.btn-flat{
    text-Transform: none !important;
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#login-page{
    overflow:hidden;
    top:15%;
}
#sidenav{
    width: 230px;
    text-align: center;
}

#menu{
    position: relative;
    top: 4.5%;
}
#profile-pic{
    border-radius: 50%;
    width: 95px;
    height: 95px;
    position: relative;
    object-fit: cover;
    top: 3%;
    padding-bottom: 2px;
    cursor: pointer;
    z-index: 10;
    margin-top: 10px;
    margin-right: 15px;
}

#profile-icon{
    position: relative;
    right: 19.5%;
    bottom: 8.5%;
    font-size: 40px;
}

#profile-pic:hover{
    opacity: 0.4;
}

#uploadPic{
    margin-left: 10px;
    height: 28px;
    cursor: pointer;
    margin-top: 3px;
}
#postInput{
    border-top: 1px solid #80808057;
    border-bottom: 1px solid #80808057;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#postArea{
    border: none;
    right: -4%;
    position: relative;
    top: 10%;
    height: 75%;
    resize: none;
    overflow: hidden;
}

#uploadedPic{
    height: 220px;
    width: 400px;
    margin-bottom: 15px;
    border-radius: 10px;
    object-fit: cover;
}

#removeImageBtn{
    position: relative;
    right: 66%;
    bottom: 84.5%;
    height: 30px;
    cursor: pointer;
}

#postArea,
#postArea::-webkit-input-placeholder {
    font-size: 19px;
}


.post{
    border-bottom: 1px solid #80808057;
    width: 600px;
}
.postUserInfoWrapper{
    display:flex;
    gap:10px;
}

.postProfile-pic{
    margin-left: 10px;
    margin-top: 10px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.postPic{
    margin-top: 5px;
    width: 490px;
    height: 290px;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    left: 9%;
}

.postTextWrapper{
    margin-top: 15px;
}

.postIconWrapper{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin-bottom: 5px;
}
.likeBtn{
    height: 22px;
    cursor: pointer;
}

.commentBtn{
    height: 22px;
    cursor: pointer;
}


#game-pic{
    border-radius: 50%;
    position: relative;
    width: 110px;
    height: 110px;
    object-fit: cover;
}
#searching{
    position: absolute;
    right: 42%;
    top: 10%;
}
#turninfo{
    display: grid;
    padding-top: 10px;
    grid-template-columns: 50% 50%;
    justify-items: center;
    border-bottom: 1px black solid;
    height: 26%;
}

.sidebar-btn{
    text-align: end;
    font-size: 25px;
    width: 100%;
    border-radius: 25px;
    font-weight: 600;
    height: 4.5%;
    background-color: white;
    border: none;
    cursor: pointer;
    position: relative;
    bottom: 5%;
    padding-right: 12%;
}

.sidebar-btn:hover{
    background-color: #F2F2F2;
}
.sidebar-btn:focus{
    background-color:#F2F2F2;
}

#editProfile{
    position: absolute; 
    height:30vh;
    width:30%;
    background-color: #ffcf001a;
}

#profile-modal{
    height:30vh;
    width:30%;
    min-width: 570px;
    top: 26% !important;
}
#change-name{
    position: absolute;
    right: 3%;
    top: 10%;
    width: 45%;
}

#change-pic{
    border-radius: 50%;
    position: absolute;
    width: 120px;
    height: 120px;
    object-fit: cover;
    left: 16%;
    top: 19%;  
    cursor: pointer;  
    z-index: 10;
}

#upload-icon{
    position: absolute;
    left: 22.5%;
    top: 31%;
    font-size: 50px;
    color: black;
    opacity: 0;
}

#change-pic:hover{
    opacity: 0.4;
}

#change-pic:hover + #upload-icon{
    opacity: 1;
}

#profile-submit{
    position: absolute;
    bottom: 0;
    right: 0;
}

#profile-submit:hover{
    opacity: 0.6;
}

#game-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left:200px;
}

#chatMessages{
    height: 65%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#msginput{
    position: relative;
    top: 1.5%;
    width: 97%;
    height: 6%;
    left: 1.5%;
    border: 0.5px black solid;
    border-radius: 33px;
}

#boardChatArea{
    border: none;
    left: 5%;
    position: relative;
    top: 20%;
    height: 75%;
    resize: none;
    overflow: hidden;
    width: 91%;
}

input[type="text"], textarea, select { 
    outline: none;
}

#content{
    /* background-color: #ffcf001a; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    position: absolute;
    width: 100%;
    right: 0;
    overflow: auto;
    gap: 20px;
}

#sidebar{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    width: 211px;
    align-items: flex-end;
    gap: 10px;
    position: sticky;
    align-self: flex-start;
    top: 0;
}

#onlineSidebar{
    height: 100%;
    width: 205px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    position: sticky;
    align-self: flex-start;
    top: 0;
}

#usersTitle{
    margin-top: 10px;
    margin-left: 9px;
    margin-bottom: 10px;
    font-size: 20px;
}

.userWrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
}

#onlinePic{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    object-fit: cover;
    margin-left: 10px;
}

.onlineUsername{
    display: flex;
    align-items: center;
    font-weight: 600;
}

#feed{
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    gap: 10px;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    border-right: 0.5px solid #80808057;
    border-left: 0.5px solid #80808057;
}

#homeHeader{
    width: 100%;
    font-size: 22px;
    padding-top: 7px;
    padding-left: 10px;
    font-weight: 550;
}

#chatInputArea{
    border: none;
    left: 3%;
    position: relative;
    top: 22%;
    height: 75%;
    resize: none;
    overflow: hidden;
}

#postImageWrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: flex-end;
}

#postBtn{
    border-radius: 25px;
    border: 1px pink;
    background-color: #e891a0;
    cursor: pointer;
    box-shadow: none;
    width: 60px;
    height: 43px;
    position: relative;
    top: 3.2%;
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 25px;
    padding-bottom: 3px;
    left: 1.5%;
}

#bubble{
    position: relative;
    top: 2%;
    display: flex;
    flex-direction: column;
}

#msgTxt{
    font-size: 19px;
    border-radius: 25px;
    padding: 5px 12px;
    margin-bottom: 5px;
}

.sent{
    align-items: flex-end;
    right: 2%;
}

.received{
    align-items: flex-start;
    left: 2%;
}

.sentText{
    /* border-bottom-right-radius: 0px !important; */
    /*#00D0EA*/
    background-color: #10c5dc;
    border: 1px solid #10c5dc;
    color: white;
}

.receivedText{
    /* border-bottom-left-radius: 0px !important; */
    background-color: #eee;
    border: 1px solid #eee;
    color: black;
}

.dropdown-item{
    text-align:center;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

#gameWrapper{
    display: flex;
}

#omokcanvas{
    
}

#chatfield{
    height: 633px;
    width: 400px;
    border: 1px solid black;
    position: relative;
    bottom: 0.3%;
    border-radius: 10px;
    margin-right: 14px;
    top: 33px;
}

.textmessages{
    position: relative;
    bottom: 5%;
    left: 4%;
    font-size: 16px;
}

#gameinfo{
    border:1px solid black;
    height: 630px;
    width:10%;
    min-width:180px;
}

center {
	flex: 1 0 auto;
	position:relative;
}

#loginform{
	position:relative;
	top: 33%;
}

#logininfo{
	width:30%;
	display: inline-block; 
	padding: 32px 48px 0px 48px; 
	border: 1px solid #EEE;
}

#messages{
    width: 400px;
    height: 100%;
    border-right: 1px solid #80808057;
    border-left: 1px solid #80808057;
}

#chatbox{
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #80808057;
}

#msgArea{
    height: 165%;
}

.chatBox-Pic{
    margin-right: 10px;
    height: 47px;
    width: 47px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 4.5px;
}

#msgTextHeader{
    width: 100%;
    font-size: 25px;
    border-bottom: 1px solid #80808057;
    padding-left: 15px;
    height: 50px;
    display: flex;
    align-items: center;
}

.msg{
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #80808057;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.msg:hover, .userWrapper:hover{
    background-color: #F2F2F2;
}
.msg:focus, .userWrapper:focus{
    background-color:#F2F2F2;
}

.msgProfile-pic{
    margin-left: 10px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.msgUserInfo{
    padding-left: 7px;
    height: 55px;
    padding-top: 6px;
    display: flex;
    gap: 10px;
}

.msgInput{
    position: relative;
    width: 95%;
    height: 80%;
    border: 1px #808080 solid;
    border-radius: 15px;
    left: 2.5%;
    top: 3%;
}

.msgInputWrapper{
    position: relative;
    padding-top: 7.5px;
    border-top: 1px solid #80808057;
    height: 60px;
}

#profile{
    width: 650px;
    height: 100%;
}

#profileHeader{
    border-bottom: 1px solid #80808057;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profilePagePic{
    margin-right: 10px;
    height: 142px;
    width: 142px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 4.5px;
    margin-top: 10px;
}

@media only screen and (max-width: 1550px) {
    #logininfo{
		width:40%;
	}
	#registerinfo{
		width:40%;
	}
}

@media only screen and (max-width: 700px) {
    #game-section {
        height: 93.6%;;
    }
}

@media only screen and (max-width: 950px) {
    #chatfield{
        display:none;
    }
  }